---
- name: Ensure Ansible can reach all devices.
  hosts: routers
  gather_facts: false
  tasks:
    - name: Common Network Ping
      ansible.netcommon.net_ping:
      dest: all
      register: ping_result
      
    - name: Display Ping Results
      ansible.builtin.debug:
        var: ping_result
