---
-name: Playbook 3 - EIGRP and Loopback Configuration
  hosts:routers
  gather_facts:no
  
  vars:
    router_ids:
      R1: 1
      R2: 2

  tasks:
    - name: Create and Configure Loopback
      cisco.ios.ios_config:
        lines:
          - ip address 10.{{ router_ids[inventory_hostname] }}.{{ item }}.1 255.255.255.255
        parents: interface Loopback{{ item }}
      loop:
        - 1
        - 2
        - 3

    - name: Enable EIGRP AS 100 and Advertise All Networks
      cisco.ios.ios_config:
        lines:
          - network 0.0.0.0
        parents: router eigrp 100