---
- name: Playbook 3 EIGRP and Loopback Configuration
  hosts: routers
  gather_facts: false

  collections:
    - cisco.ios

  vars:
    router_ids:
      R1: 1
      R2: 2

  tasks:
    - name: Create and Configure Loopback
      ios_config:
        parents: "interface Loopback{{ item }}"
        lines:
          - "ip address 10.{{ router_ids[inventory_hostname] }}.{{ item }}.1 255.255.255.255"
      loop:
        - 1
        - 2
        - 3

    - name: Enable EIGRP AS 100 and Advertise All Networks
      ios_config:
        parents: "router eigrp 100"
        lines:
          - "network 0.0.0.0"
