---
- name: VLAN Configuration
  hosts: switches
  gather_facts: false
  tasks:
    - name: Create VLANs
      ios_config:
        lines:
          - vlan 10
          - name Data
          - vlan 20
          - name Server
          - vlan 30
          - name Voice
          - vlan 1
          - name Management

    - name: Configure SVI for VLAN 10 (Data)
      ios_config:
        parents: interface Vlan 10
        lines:
          - ip address 192.168.10.1 255.255.255.0
          - no shutdown

    - name: Configure SVI for VLAN 20 (Server)
      ios_config:
        parents: interface Vlan20
        lines:
          - ip address 192.168.20.1 255.255.255.0
          - no shutdown

    - name: Configure SVI for VLAN 30 (Voice)
      ios_config:
        parents: interface Vlan30
        lines:
          - ip address 192.168.30.1 255.255.255.0
          - no shutdown
    - name: Configure SVI for VLAN 1 (Management)
      ios_config:
        parents: interface Vlan1
        lines:
          - ip address 192.168.100.102 255.255.255.0
          - no shutdown

    - name: Apply data and voice VLANs to G1/0/3
      ios_config:
        parents: interface GigabitEthernet1/0/3
        lines:
          - switchport mode access
          - switchport access vlan 10
          - switchport voice vlan 30
          - no shutdown

    - name: Apply data and voice VLANs to G1/0/4
      ios_config:
        parents: interface GigabitEthernet1/0/4
        lines:
          - switchport mode access
          - switchport access vlan 10
          - switchport voice vlan 30
          - no shutdown

    - name: Apply server VLAN to G1/0/5
      ios_config:
        parents: interface GigabitEthernet1/0/5
        lines:
          - switchport mode access
          - switchport access vlan 20
          - no shutdown

    - name: Configure trunk interface G1/0/1
      ios_config:
        parents: interface GigabitEthernet1/0/1
        lines:
          - switchport mode trunk
          - switchport trunk allowed vlan 10,20,30,1
          - switchport trunk native vlan 1
          - no shutdown

    - name: Configure trunk interface G1/0/2
      ios_config:
        parents: interface GigabitEthernet1/0/2
        lines:
          - switchport mode trunk
          - switchport trunk allowed vlan 10,20,30,1
          - switchport trunk native vlan 1
          - no shutdown

    - name: Configure Ansible interface G1/0/24
      ios_config:
        parents: interface GigabitEthernet1/0/24
        lines:
          - switchport mode access
          - switchport access vlan 1
          - no shutdown

    - name: VLAN verification
      ios_command:
        commands:
          - show vlan brief
          - show ip interface brief
      register: verification_output

    - name: Display verification output
      debug:
        var: verification_output.stdout_lines
