---
-name VLAN configuration
  hosts: SW1
  gather_facts: no
  tasks:
    -name Create data VLAN
      ios_config:
        lines:
          -vlan 10
          -name Data 
          -int vlan 10
          -no shutdown
          -ip address 192.168.1.1 255.255.255.0
    
    -name Create server VLAN
      ios_config:
        lines:
          -vlan 20
          -name Data 
          -int vlan 20
          -no shutdown
          -ip address 192.168.2.1 255.255.255.0

    -name Create voice VLAN
      ios_config:
        lines:
          -vlan 30
          -name Data 
          -int vlan 30
          -no shutdown
          -ip address 192.168.3.1 255.255.255.0

    -name Apply data and voice VLAN to interfaces
      ios_config:
        lines:
          -interface range g0/2-4
          -switchport mode access
          -switchport access vlan 10
          -switchport voice vlan 30
          -no shutdown
      
    -name Apply server VLAN to interface
      ios_config:
        lines:
          -interface g0/5
          -switchport mode access
          -switchport access vlan 20
          -no shutdown
    
    -name VLAN verification
      ios_command:
        commands:
          -show vlan brief
          -show ip interface brief
        register: verification_output
      debug:
       var: verification_output.stdout_lines